<div class="flex justify-center items-center w-full min-h-full">
  <div
    class="bg-input-bg/60 flex flex-col gap-7 px-14 py-12 rounded-3xl border-[1.6px] shadow-lg border-input-border-focus max-w-full max-h-full"
  >
    <div class="relative">
      <img ngSrc="img/frame.svg" alt="" class="w-[300px]" height="245" width="414" priority />
      <div
        class="size-full absolute top-0 left-0 flex justify-center items-center text-[32px] font-title"
      >
        <div class="pt-6 px-10 text-center leading-[1.7]">
          <span class="text-2xl">{{ 'login.genealogy' | translate }}</span>
          <br />Nguyễn Đức
        </div>
      </div>
    </div>
    <div class="text-3xl font-bold text-center">{{ 'login.title' | translate }}</div>
    <div class="flex flex-col gap-5">
      <input-field [placeholder]="'login.enter_your_email' | translate"></input-field>
      <input-field
        className="!pr-10"
        [placeholder]="'login.enter_your_password' | translate"
        [type]="showPassword() ? 'text' : 'password'"
      >
        <div
          ngProjectAs="input-field-icon"
          class="text-lg leading-5 absolute h-full w-10 right-0 top-0 flex justify-center items-center"
          (click)="toggleShowPassword()"
          role="presentation"
        >
          @if (showPassword()) {
            <i-lucide [img]="EyeOff" [size]="18"></i-lucide>
          } @else {
            <i-lucide [img]="Eye" [size]="18"></i-lucide>
          }
        </div>
      </input-field>
    </div>
    <button nz-button nzType="primary" class="!py-0">
      <div class="font-medium text-base flex items-center justify-center">
        {{ 'login.btn_login' | translate }}
      </div>
    </button>
  </div>
</div>
