<div class="flex justify-center items-center w-full min-h-full">
  <div
    class="bg-input-bg/60 flex flex-col gap-7 px-14 py-12 rounded-3xl border-[1.6px] shadow-lg border-input-border-focus max-w-full max-h-full"
  >
    <div class="relative">
      <img ngSrc="img/frame.svg" alt="" class="w-[300px]" height="245" width="414" priority />
      <div
        class="size-full absolute top-0 left-0 flex justify-center items-center text-[32px] font-title"
      >
        <div class="pt-6 px-10 text-center leading-[1.7]">
          <span class="text-2xl">Gia Phả</span><br />Nguyễn Đức
        </div>
      </div>
    </div>
    <div class="text-3xl font-bold text-center" i18n>Login</div>
    <div class="flex flex-col gap-5">
      <input nz-input i18n-placeholder placeholder="Enter your email" />
      <div class="relative">
        <input
          nz-input
          i18n-placeholder
          placeholder="Enter your password"
          class="!pr-10"
          [type]="showPassword() ? 'text' : 'password'"
        />
        <div
          class="text-lg leading-5 absolute h-full w-10 right-0 top-0 flex justify-center items-center"
          (click)="toggleShowPassword()"
          role="presentation"
        >
          <div [class]="showPassword() ? 'icon-eye-off' : 'icon-eye'"></div>
        </div>
      </div>
    </div>
    <button nz-button nzType="primary">
      <span class="font-medium" i18n>Login</span>
    </button>
  </div>
</div>
