<div class="flex justify-center items-center w-full min-h-full">
  <div
    class="bg-input-bg/60 px-14 py-12 rounded-3xl border-[1.6px] shadow-lg border-input-border-focus max-w-full max-h-full"
  >
    <div class="relative">
      <img ngSrc="/img/frame.svg" alt="" class="w-[350px]" height="245" width="414" priority />
      <div
        class="size-full absolute top-0 left-0 flex justify-center items-center text-4xl font-title"
      >
        <div class="pt-8 px-10 text-center leading-[1.7] text-text-primary">
          <span class="text-3xl">Gia Phả</span><br />Nguyễn Đức
        </div>
      </div>
    </div>
  </div>
</div>
